# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 377936dd255ada68662a52c216b16c8f8b39aa9089997039e6499ac6cecd8d946f643f827ecf796aa300c2434d89b67e10ddd21abbaeca270b94477617bc6478

test:
  secret_key_base: 835f590e6ba9ccb00878685143cd38eed291a0c39bc80e9a57b88b4054f68521e775c6b28a2f5c80bf76920b63716e9a6c10af5637e366d09385ae3197800d0f

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
