<div class='match_predictions col-md-6'>
  <div class="page-header">
    <h1><%=t '.title', :default => 'Predictions of Championship' %></h1>
  </div>
  <table class="table table-striped" id='predictions_table'>
    <thead>
      <tr>
        <th>Team</th>
        <th>Prediction</th>
      </tr>
    </thead>
  </table>
</div>
